
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/Account/_AccountLayout.cshtml";
}

<div class="container wrapper">
    <div class="row">
        <div class="col-md-11 col-lg-11">
            <div style="float:right">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Add Account
                </button>
            </div>
        </div>
    </div>
    <div class="account-head">
        <div class="account-main">
            <div class="header ellipsis">
                <span>Qatar Menu sdafsdf afassd asdsad asdsad asdsad </span>
            </div>
            <div class="account-content">
                <div class="account-date"> Active From : 20/03/2007 </div>
                <div class="account-date"> Expired On : 20/03/2018 </div>
                <div class="edit">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit Account
                    </button>
                    <div>
                        <div class="followed-by">
                            <button type="button" class="btn btn-default btn-sm" style="width:250px">
                                <span class="glyphicon glyphicon-heart"></span> Meghana V Rajan
                            </button>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="account-main">
            <div class="header ellipsis">
                <span>Qatar Menu sdafsdf afassd asdsad asdsad asdsad </span>
            </div>
            <div class="account-content">
                <div class="account-date"> Active From : 20/03/2007 </div>
                <div class="account-date"> Expired On : 20/03/2018 </div>
                <div class="edit">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit Account
                    </button>
                    <div>
                        <div class="followed-by">
                            <button type="button" class="btn btn-default btn-sm" style="width:250px">
                                <span class="glyphicon glyphicon-heart"></span> Meghana V Rajan
                            </button>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="account-main">
            <div class="header ellipsis">
                <span>Qatar Menu sdafsdf afassd asdsad asdsad asdsad </span>
            </div>
            <div class="account-content">
                <div class="account-date"> Active From : 20/03/2007 </div>
                <div class="account-date"> Expired On : 20/03/2018 </div>
                <div class="edit">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit Account
                    </button>
                    <div>
                        <div class="followed-by">
                            <button type="button" class="btn btn-default btn-sm" style="width:250px">
                                <span class="glyphicon glyphicon-heart"></span> Meghana V Rajan
                            </button>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="account-main">
            <div class="header ellipsis">
                <span>Qatar Menu sdafsdf afassd asdsad asdsad asdsad </span>
            </div>
            <div class="account-content">
                <div class="account-date"> Active From : 20/03/2007 </div>
                <div class="account-date"> Expired On : 20/03/2018 </div>
                <div class="edit">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit Account
                    </button>
                    <div>
                        <div class="followed-by">
                            <button type="button" class="btn btn-default btn-sm" style="width:250px">
                                <span class="glyphicon glyphicon-heart"></span> Meghana V Rajan
                            </button>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

